*{
    margin: 0;
    padding: 0;

}
body{
    background: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
 
}

.container{  
    margin-top: 10em;
    width: 19em;

    text-align: center;
    background-color: #FFFFFF;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    margin-top: 0.5em;
    width: 17.5rem;
    border-radius: 0.5em;
}
/* Text class contains both h2 and Paragraph */
.text{
  
    margin-top: 1em;
    margin-bottom: 1em;
}
h2{

    color: #252F4A;
    margin: auto;
    padding-bottom: 1em;
    font-size: 1.25em;
}
p{
    color: #9699A0;
    width: 17em;
    margin: auto;
    font-size: 0.9em;
}